<!DOCTYPE html>
<http xmlns:th="http://www.thymeleaf.org">
    <body>
    <div>
        <div>
            <form th:object="${orderSearch}" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" th:field="*{memberName}" class="form-control"
                           placeholder="회원명"/>
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>

        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>회원명</th>
                <th>상품이름</th>
                <th>주문가격</th>
                <th>주문수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text = "${order.id}"></td>
                <td th:text = "${order.member.name}"></td>
                <td th:text = "${order.orderItems[0].product.productName}"></td>
                <td th:text = "${order.getTotalPrice}"></td>
                <td th:text = "${order.orderItems[0].count}"></td>
                <td>
                    <a th:href="'javascript:cancel('+${order.id}+')'"
                       class="btn btn-danger">취소</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
    <script>
        function cancel(id) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/orders/list/" + id);
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</http>

<!--여기서 주문 취소 버튼을 누르면 주문이 삭제돼야 함!-->
<!--이걸 해놨는데 어떻게 적용시키느냐가 문제,,.-->