<!DOCTYPE html>
<http xmlns:th="http://www.thymeleaf.org">
    <body>
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>회원명</th>
                <th>상품이름</th>
                <th>주문가격</th>
                <th>주문수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text = "${order.id}"></td>
                <td th:text = "${order.member.name}"></td>
                <td th:text = "${order.orderItems[0].product.productName}"></td>
                <td th:text = "${order.getTotalPrice}"></td>
                <td th:text = "${order.orderItems[0].count}"></td>
            </tr>

            </tbody>
        </table>
    </div>
    </body>
    <script>
        //여기에 주문 취소 버튼 적용되는 코드가 등장...
    </script>
</http>

<!--여기서 주문 취소 버튼을 누르면 주문이 삭제돼야 함!-->
<!--이걸 해놨는데 어떻게 적용시키느냐가 문제,,.-->